.header {

}

.header .user-img {
    width: 105rpx;
    height: 105rpx;
    border-radius: 100%;
    overflow: hidden;
    border: 2rpx solid rgba(255,255,255,0.7);
    margin-right: 0.5rem;
	position :absolute;
	z-index: 100;
	top:114rpx;
	left: 332rpx;
}

.header .user-img .user-img-image{
	width: 105rpx;
	height: 105rpx;
}

.header .user-center{
	width:100%;
	position :absolute;
	z-index: 100;
	top:223rpx;
}

.header .user-center .user-name{
	padding-top: 10rpx;
	color:#ffffff;
	text-align: center;
	font-size:28rpx;
}

.header .user-center .user-card-no{
	padding-top: 10rpx;
	color:#ffffff;
	text-align: center;
	font-size:28rpx;
}

.header .user-center .user-card-tips{
	padding-top: 1rpx;
	color:#ffffff;
	text-align: center;
	font-size:19rpx;
}

.header .user-qrcode{
	padding-top: 5rpx;
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
	position :absolute;
	width: 150rpx;
	height: 45rpx;
	z-index: 100;
	top:120rpx;
	right: 10rpx;
	background-color: #ffffe3;
}

.header .user-qrcode .iconfont{
	font-size: 36rpx;
	font-weight:bold;
	text-align: right;
}

.header .user-qrcode .user-qrcode-name{
	letter-spacing:8rpx;
	font-weight:bold;
	font-size: 20rpx;
	text-align: center;
}

.header .user-qrcode .user-qrcode-enname{
	font-size: 10rpx;
	letter-spacing:0rpx;
	text-align: center;
}

.header .user-info{
	padding-top: 5rpx;
	border-top-left-radius:2em;
	border-bottom-left-radius:2em;
	position :absolute;
	width: 150rpx;
	height: 45rpx;
	z-index: 100;
	top:180rpx;
	right: 10rpx;
	background-color: #ffffe3;
}

.header .user-info .iconfont{
	font-size: 36rpx;
	font-weight:bold;
	text-align: right;
}

.header .user-info .user-info-name{
	letter-spacing:0rpx;
	font-weight:bold;
	font-size: 20rpx;
	text-align: center;
}

.header .user-info .user-info-enname{
	font-size: 10rpx;
	letter-spacing:0rpx;
	text-align: center;
}

.tickets{
	padding-top: 12rpx;
}

.tickets .tickets-row-col-left{
	padding-right: 9rpx;
}

.tickets .tickets-row-col-right{
	padding-left: 9rpx;
}

.tickets .tickets-div{
	text-align: center;
	background-color:#5f5150;
	height: 150rpx;
	border:1rpx solid;
	border-radius:15rpx;
	color: #FFFFFF;
	font-size: 50rpx;
	padding-top:25rpx;
	padding-bottom: 25rpx;
}

.tickets .tickets-icon{
	font-size: 40rpx;
}

.tickets .shuxian{
	height: 100rpx;
	border-left:1px dashed #FFFFFF;
}

.tickets .count{
	font-size: 48rpx;
}

.tickets .danwei{
	margin-left: 6rpx;
	font-size: 21rpx;
}

.icons{
	text-align: center;
}

.icons .icons-row{
	padding-left: 15rpx;
	padding-right: 15rpx;
	margin-top: 40rpx;
}

.icons .iconfont{
	font-size: 65rpx;
}

.icons .wenzi{
	margin-top: 12rpx;
	font-size: 24rpx;
	font-weight:bold;
}

.footer1{
	padding-top: 40rpx;
	width: 100%;

}

.footer2{ 
	padding-top: 10rpx;
}

/* html,body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

.tickets button {
    margin: 0;
    font: inherit;
	outline: none;
}